<div class="panel panel-primary">
    <div class="panel-heading"><h5>编辑帖子</h5></div>
    <div class="panel-body">
        <form name="new_entry_form">
            <div class="form-group">
                <label for="input_title">标题：</label>
                <input id="input_title" type="text" ng-model="EditEntry.entry.title" placeholder="标题" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="input_price">价格：</label>
                <input id="input_price" type="number" ng-model="EditEntry.entry.price" placeholder="价格" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="input_contact">电话号码：</label>
                <input id="input_contact" type="number" ng-model="EditEntry.entry.contact" placeholder="个人常用电话号码" ng-required="true"/>
            </div>
            <div class="form-group">
                <p>业务描述-真实应用中会随着业务类型而改变：</p>
                <label for="input_desc1">描述1：</label>
                <input id="input_desc1" type="text" ng-model="EditEntry.entry.desc.a" placeholder="描述1" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="input_desc2">描述2：</label>
                <input id="input_desc2" type="text" ng-model="EditEntry.entry.desc.b" placeholder="描述2" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="input_desc3">描述3：</label>
                <input id="input_desc3" type="text" ng-model="EditEntry.entry.desc.c" placeholder="描述3" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="input_content">具体内容：</label>
            </div>
            <div class="form-group">
                <textarea id="input_content" rows="10" cols="100" ng-model="EditEntry.entry.content" ng-required="true">写下具体内容</textarea>
            </div>
            <div class="form-group">
                <input type="submit" ng-disabled=new_entry_form.$invalid" ng-click="EditEntry.edit()" class="btn btn-primary" value="提交">
                <input type="reset" class="btn btn-default" value="清空">
            </div>
        </form>
    </div>
</div>

<!--div>
    <form name="edit_entry_form">
        标题: <input type="text" ng-model="EditEntry.entry.title" placeholder="标题" required="required"/><br/>
        价格: <input type="number" ng-model="EditEntry.entry.price" placeholder="价格" required="required"/><br/>
        联系方式: <input type="text" ng-model="EditEntry.entry.contact" placeholder="个人常用手机号码" required="required"/><br/>
        <ul>业务描述-真实应用中会随着业务类型而改变
            <li>描述1：<input type="text" ng-model="EditEntry.entry.desc.a" placeholder="描述1" required="required"></li>
            <li>描述2：<input type="text" ng-model="EditEntry.entry.desc.b" placeholder="描述2" required="required"></li>
            <li>描述3：<input type="text" ng-model="EditEntry.entry.desc.c" placeholder="描述3" required="required"></li>
        </ul>
        内容：
        <textarea rows="10" cols="100" ng-model="EditEntry.entry.content" required="required">写下具体内容</textarea><br/>
        <input type="submit" value="提交" ng-click="EditEntry.edit()"/><input type="reset" value="清空">
    </form>
</div-->