<!--button ng-click="RetrieveList()">获取列表</button-->
<a href="/">回首页</a>
<div ng-if="List.success">
    <h3>条目列表</h3>
    <table border="0">
        <tr>
            <th width="200">标题</th>
            <th width="60">价位</th>
            <th width="120">电话</th>
            <th width="80">栏目1</th>
            <th width="80">栏目2</th>
            <th width="80">栏目3</th>
            <th width="40">评论</th>
            <th width="40">阅读</th>
        </tr>
        <tr ng-repeat="entry in List.entries">
            <td>{{entry.title}}</td>
            <td>{{entry.price}}</td>
            <td>{{entry.contact}}</td>
            <td>{{entry.desc.a}}</td>
            <td>{{entry.desc.b}}</td>
            <td>{{entry.desc.c}}</td>
            <td>{{entry.count_of_comments}}</td>
            <td>{{entry.count_of_read}}</td>
            <td><a href="/detail/{{entry._id}}">查看</a></td>
        </tr>
    </table>
    <div ng-if="List.success_page">
        <a href="/list/{{List.cate_main}}/{{List.cate_sub}}/1" ng-if="List.page_current > 1">第一页</a>
        <div ng-repeat="page in List.page_arr">
            <a href="/list/{{List.cate_main}}/{{List.cate_sub}}/{{page}}" ng-if="page!=List.page_current">{{page}}</a>
            <strong ng-if="page==List.page_current">{{page}}</strong>
        </div>
        <a href="javascript:void(0)" ng-if="List.page_current < List.pages" ng-click="List.nextPage()">下一页</a>
    </div>

    <!--ul ng-repeat="entry in entries">
        <li>标题：{{entry.title}}</li>
        <li>价位：{{entry.price}}</li>
        <li>电话：{{entry.contact}}</li>
        <li>栏目1：{{entry.desc.a}}</li>
        <li>栏目2：{{entry.desc.b}}</li>
        <li>栏目3：{{entry.desc.c}}</li>
        <li>评论：{{entry.count_of_comments}}</li>
        <li>阅读：{{entry.count_of_read}}</li>
    </ul-->
</div>

