<div>
    <a href="/">回首页</a>
    {{Home.error}}
    <form name="signup_form">
        <ul>
            <li>用户名：<input type="text" ng-model="Home.signupData.username" placeholder="填写用户名" required="required"/></li>
            <li>密码：<input type="password" ng-model="Home.signupData.password" required="required"/></li>
            <li>真实姓名：<input type="text" ng-model="Home.signupData.realname" placeholder="填写真实姓名" required="required"/></li>
            <li>联系方式：<input type="number" ng-model="Home.signupData.contact" placeholder="常用联系方式" required="required"/></li>
            <li>电子邮箱：<input type="text" ng-model="Home.signupData.email" placeholder="常用邮箱地址" required="required"/></li>
        </ul>
        <input type="submit" value="注册" ng-click="Home.signup()"/>
        <input type="reset" value="清空">
    </form>
</div>